.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.5rem;
  background-color: white;
  border-bottom: 1px solid #ddd;
  user-select: none;
}

.container {
  width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1.5rem;
}

.leftWrapper {
  display: flex;
  align-items: center;
}

.menuButton {
  font-size: 15pt;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  user-select: none;
}

.logoLink {
  font-size: 15pt;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.navList {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navItem {
  text-decoration: none;
  color: #000;
  font-size: 15pt;
}

.navItem:hover {
  color: #88C71F;
  font-weight: bold;
}
